<div class="form-group" id="formularUeberschrift">
  <h3>{{Subtitles.Origin}}</h3>
  <div class="controls">

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">{{Questions.origin_suffering}}</label><br>
          <textarea id="name" type="text" class="form-control" placeholder="<Platz für Ideen>"
                    [(ngModel)]="OriginData.suffering" rows="5" cols="120"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
