.navBackground {
  /* TODO: Rahmen um die Navigation einbauen, mit Div oder anders */
  position: relative;
  width: 50px;
  height: 500px;
  background: cornsilk;
}

.sidenav {
  height: 100%;
  position: absolute;
  left: 0;
  top: 100px;
  width: max-content;
}

.sidenav-button {
  background: grey;
  color: cornsilk;
  font-size: 24px;
  height: fit-content;
  width: 220px;
}

.sidenav-button-active {
  background: cornsilk;
  color: grey;
  font-size: 38px;
  height: fit-content;
  width: 220px;
}


