<div id="navBackground">
  <div class="btn-group-vertical sidenav">
    <ng-container *ngFor="let navButton of allNavButtons">
        <button type="button" class="btn sidenav-button" [class.sidenav-button-active]="navButton == currentFormString" (click)="showForm(navButton)">{{navButton}}</button>
  <!--   btn-group-vertical sidenav <button type="button" class="btn sidenav-button" [class.sidenav-button-checked]="navButton == currentFormString" (click)="showForm(navButton)">{{navButton}}</button>-->
    </ng-container>
  </div>

 <!--- <div class="back-forward-buttons">
    <button *ngIf="currentFormString != '0'" class="btn btn-primary custom-control-inline back-forward-button"  (click)="showFormBefore()"><span class="glyphicon glyphicon-menu-left"></span></button>
    <button *ngIf="currentFormString != '9'" type="button" class="btn btn-primary custom-control-inline back-forward-button"  (click)="showFormAfter()"><span class="glyphicon glyphicon-menu-right"></span></button>
  </div>-->
</div>
